*
{
    box-sizing: border-box;
}

/*MOBIL*/

    body
    {
        background-color: rgb(223, 195, 70);
    }

    #nav
    {
        width: 100%;
        background-color: rgba(128, 128, 128, 0.288);
        display: inline-flex;
        justify-content: space-evenly;
    }

    #nav h2
    {
        color: white;
        text-shadow: 2px 2px #0000002d;
    }
	
	#header
	{
		text-align: center;
        font-family: sans-serif;
        color: white;
        letter-spacing: 4px;
        font-size: 3em;
        inset: black solid 2px;
        text-shadow: 2px 2px #0000002d;
    }

    #add-question-form
    {
        text-align: center;
        
    }

    ::-webkit-input-placeholder
    {
        text-align: center;
        font-size: 1.5em;

    }

    #form-input
    {
        width: 400px;
        height: 40px;
        border-radius: 40px;
        border: none;
        -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    }

    input[type="text"]
    {
        font-size: 1em;
        color: grey;
    }

    #knap
    {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        color: rgb(255, 255, 255);
        background-color: rgb(223, 195, 70);
        height: 40px;
        text-shadow: 1px 1px #0000002d;
        border: 1.5px rgb(255, 255, 255) solid;
        font-size: 1.2em;
        border-radius: 20px;

        -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
 
    }

    #seperator
    {
        display: table;
        border-spacing: 0 0;
        table-layout: fixed;

        margin-top: 25px;
        height: 2px;
        width: 100%;
        background-color: white;
    }

    #questionHeader
    {
        color: white;
        font-family: sans-serif;
        text-shadow: 2px 2px #0000002d;
        text-align: center;
    }
    
    .content
    {
        background-color: white;
        -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    }

    #question-list
    {
        list-style: none;
        color: rgb(83, 83, 83);
        font-family: sans-serif;
        font-weight: 700;
        margin-left: -38px;
    }

    li div
    {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: -30px;
    text-align: center;
    padding: 12px 0;
    font-weight:  bold;
    cursor:  pointer;
    font-size:1.2em;
    }

    #question-list li
    {   
        padding: 5px 0px 5px 0px;
    }

    li {background: rgb(238, 237, 237)}
    li:nth-child(odd) { background: rgb(248, 248, 248); }






    /* SPIL */

    #question-area
    {
        width: 100%;
        height: 100px;
        background-color: white;

        -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    }

    #question-text
    {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.5em;
        padding-top: 30px;
        color: rgb(83, 83, 83);
    }

    #point
    {
        text-align: center;
        font-size: 3em;
        font-family: sans-serif;
        color: white;
        text-shadow: #0000002d;
    }

    #point-knap
    {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background-color: white;
        color: rgb(83, 83, 83);
        border-style: none;
        font-size: 2em;

        -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    }

    #nyt-spil-knap
    {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 50px;
        border-radius: 20px;
        background-color: white;
        color: rgb(83, 83, 83);
        border-style: none;
        font-size: 1em;
        margin-top: 20px;
        font-weight: bold;
        

        -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    }